.primary {
    /* height: 25px;
    width: 25px; */
    border: none;
    padding: 0px 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    background:#7770ff;
    border-radius: 3px;
}

.warning {
    /* height: 25px;
    width: 25px; */
    border: none;
    border-radius: 3px;
    padding: 0px 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    background: #ff3217;
}