.inc {
    width: 15px;
    height: 15px;
    background: #7770ff;
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px 5px;
}

.dec {
    width: 15px;
    height: 15px;
    background: #ff3217;
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}